.node {
  outline: solid 1px white;
  font-size: 10px;
  font-family: Roboto, sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
}

#file {
    margin-top: 0 !important;
}

.bar {
    height: 18px;
    background: green;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-top: 20px;
}
