.node {
  outline: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
}

#upload-xml {
    margin-top: 10px;
}

.bar {
    height: 18px;
    background: green;
}